<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- bean的作用域 
	prototype  每一次调用getBean()都会返回一个新的实例
	singleton  每一次调用都会返回同一个实例
	request  webApplicationContext中每一个调用返回一个新的实例
	session 在同一个session域中,调用返回同一个实例,不同session域 调用返回不同的的实例
-->
	<bean id="a" class="com.jaremo.test_scope.A" scope="singleton">
		<property name="name" value="李四"></property>
	</bean>
	
	<bean id="b" class="com.jaremo.test_scope.B" scope="singleton">
		<property name="a" ref="a"></property>
	</bean>
	
</beans>