<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       ">
      	<bean id="methodAdvice" class="com.jaremo.lesson3.test_springaop.advice.MethodAdvice"></bean>
      	<bean id ="methodService" class="com.jaremo.lesson3.test_springaop.service.MethodService" ></bean>
		<aop:config>
			<aop:pointcut expression="execution (* com.jaremo.lesson3.test_springaop.service.*.*(..))" id="qd" />	
			<aop:aspect ref="methodAdvice">
				<aop:before method="doBefore" pointcut-ref="qd" />
				<aop:after method="doAfter" pointcut-ref="qd"/>
				<aop:around method="doAround" pointcut-ref="qd"/>
				<aop:after-returning method="doAfterReturning" pointcut-ref="qd"/>
				<aop:after-throwing method="doAfterThrowing" pointcut-ref="qd" throwing="ex"/>
			</aop:aspect>
		</aop:config>
</beans>